.calendarContainer {
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  /* position: relative; */
}

.headers {
  padding: 1rem;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0.625rem;
  background: linear-gradient(
    to bottom,
    var(--clr-bgg-400),
    var(--clr-bgg-450)
  );
  color: var(--clr-neutral-500);
}
.headers__text {
  font-size: 1rem;
  text-align: center;
}
.headers__date {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.headers__date__day {
  font-size: 2.5rem;
  margin-bottom: -0.9735rem;
}

.calendar {
  border-collapse: collapse;
  width: 90%;

  height: 100%;
  /* margin: 0.5rem; */
}

.calendar__day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.myDay {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.currentDay {
  background-color: var(--clr-neutral-700);
}
.selected {
  background-color: hsl(254, 75%, 66%);
  color: rgb(227, 227, 227);
}
.headerRow th {
  padding: 0rem;
  width: 10%;
  outline: 1px solid black;
}
.tableBody tr {
  height: 0%;
  width: 10%;
}
.tableBody tr td {
  text-align: center;
}
.popup {
  position: absolute;
  background: white;
  display: grid;
  place-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.48);
}
td {
  text-align: center;
}
.headers__dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dataSOMETHING {
  height: 0%;
}

.pastDay {
  text-decoration: line-through;
  opacity: none;
  color: rgba(72, 72, 72, 0.48);
  pointer-events: none;
}
