.form {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem 2rem 1rem;
  gap: 0.875rem;
}
@media (max-width: 375px) {
  .form {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
    gap: 0.875rem;
  }
}
.signup {
}

.form-group {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--clr-neutral-700);
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.25rem;
}
.formContent {
  margin-bottom: 0.25rem;
}

.buttonContainer {
  padding: 0.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.625rem;
  border-radius: 0.75rem;
}
.signupButton {
  cursor: pointer;
  background-color: var(--clr-pBlue-700);
  border: none;
  border-radius: 0.5rem;
  color: var(--clr-neutral-500);
  font-weight: var(--fw-h2);
  width: 100%;
  padding: 1rem;
}
.form-group input {
  border: none;
}
.form-group input:focus {
  outline: none;
  border: none;
}
.form-group label {
  font-weight: 500;
}
.errInfo {
  margin: 1rem;
  color: var(--clr-primary-red);
}
.error {
  border-color: var(--clr-primary-red);
  color: var(--clr-primary-red-dark);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
.shake {
  animation: shake 0.2s ease-out;
}

.welcome-page {
  height: 100%;
  padding: 1rem 1rem;
  display: grid;
  place-items: center;
  background: linear-gradient(
    to bottom,
    var(--clr-bgg-400),
    var(--clr-bgg-450)
  );
  background-attachment: fixed;
}
