/* .main {
  background-color: white;
} */

.mainPage {
  min-height: 100vh;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* padding: 1rem; */
}

.mainContent {
  margin: 1rem;
  background-color: var(--clr-neutral-600);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: 1px solid red;
}
.profileContent {
  background-color: var(--clr-neutral-600);
  flex: 1;
}
.nav {
  /* position: fixed; */

  /* bottom: 0;
  left: 0; */
  /* background-color: white; */
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 1rem;
  border-top: 1px solid var(--clr-neutral-700);
}
