.popup {
  position: relative;
  width: 95%;
  height: 95%;

  /* margin: 1rem; */
  /* background-color: rgba(0, 0, 0, 0.091); */
}

.popupContent {
  /* position: absolute; */
  margin: 0.5rem;
  background: var(--clr-neutral-500);
  padding: 1rem;
  height: 90%;
  border-radius: 1rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2);
  flex-direction: column; /* Add this line to make the content stack vertically */
}
.popupBody {
  margin-top: 2rem;
  flex: 1;
}

.popupTable {
  outline: 1px solid black;
  width: 100%;
}

.popUpBodyContainer {
  margin: 1rem;
  display: flex;

  align-items: center;
  flex-direction: column;
  height: 70%;
  gap: 1rem;
}
.popUpBody__header {
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: underline;
}

.bookNowButton {
  background-color: hsl(120, 100%, 35%);
  border: none;
  padding: 0.75rem;
  width: 40%;
  border-radius: 1rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.bookingPopup {
  /* position: absolute; */
  /* margin-top: 1.2rem; */

  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  /* align-items: center; */

  /* padding: 1.5rem; */
  /* width: 95%; */
  height: 100%;
  width: 100%;

  bottom: 0;
  z-index: 1;
}
.bookingPopup__container {
  padding: 1rem;
  background-color: var(--clr-neutral-500);
  background-color: #a9d3ff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* bottom: 0; */
}

.bookingPopup__content {
  background-color: green;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.react-calendar__tile {
  color: red;
}
.selectedDate {
  background-color: red;
  color: var(--clr-neutral-600);
}

.dateContainer {
  width: 2.5rem;
  height: 2.25rem;
  border-radius: 50%;
  /* background-color: green; */
}
.close {
  position: absolute;
  background-color: transparent;
  border: none;
  /* inset: 1rem 0rem 0rem 2rem; */
  /* right: 32px;
  top: 32px;
  width: 32px; */
  right: 1.5rem; /* Adjust the positioning as per your requirement */
  top: 1rem; /* Adjust the positioning as per your requirement */
  width: 32px;
  height: 32px;
  opacity: 0.3;
}

.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.secondPopClose {
  position: absolute;
  background-color: transparent;
  border: none;
  /* inset: 1rem 0rem 0rem 2rem; */
  /* right: 32px;
  top: 32px;
  width: 32px; */
  right: 1.5rem; /* Adjust the positioning as per your requirement */
  top: 1rem; /* Adjust the positioning as per your requirement */
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
