.card {
  padding: 0;
  background-color: white;
  border-radius: 0.75rem;
  position: relative;
}

.welcomeHeaderContainer {
  top: 0;
  margin-bottom: 1rem;
}
.headerContent {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrow {
  position: absolute;
  left: 1rem;
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
}
.headerTitle {
  padding: 0.75rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: var(--fw-h2);
}

.line {
  left: 0;
  position: absolute;
  width: 100%;
  border: 1px solid var(--clr-neutral-700);
}

.welcomeContent {
  padding: 1rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.welcomeTo {
  text-align: center;
  font-size: 1rem;
  font-weight: var(--fw-h2);
}

.selectButton {
  background-color: transparent;
  border: 1px solid var(--clr-neutral-700);
  padding: 1rem;
}
.selectButton:hover,
.selectButton:active {
  border-color: var(--clr-neutral-800);
  background-color: var(--clr-neutral-500);
}
